@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

.cusFont {
    font-family: 'Rubik Mono One', monospace;
}

.thatMe {
    font-family: 'Honk', system-ui;
  }

.card {
    transform-style: preserve-3d;
    transition: transform 500ms;
}


.front {
    backface-visibility: hidden;
}

.back{
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.cardFlip {
    transform: rotateY(180deg);
}

.per {
    perspective: 1000px;
}

  